table.email-footer(align='center', width='570', cellpadding='0', cellspacing='0')
    tr
        td.content-cell(align='center')
            p.sub.align-center © 2016 RetailerStock. All rights reserved.
            p.sub.align-center
                | [Company Name, LLC]
                br
                | 1234 Street Rd.
                br
                | Suite 1234