
extends layout

block content

    table.email-body_inner(align='center', width='570', cellpadding='0', cellspacing='0')
        // Body content
        tr
            td.content-cell
                h1 Hi #{firstname+' '+lastname},
                p
                    | You recently requested to reset your password for your RetailerStock account. Use the button below to reset it.
                    strong This password reset is only valid for the next 24 hours.
                // Action
                table.body-action(align='center', width='100%', cellpadding='0', cellspacing='0')
                    tr
                        td(align='center')

                            table(width='100%', border='0', cellspacing='0', cellpadding='0')
                                tr
                                    td(align='center')
                                        table(border='0', cellspacing='0', cellpadding='0')
                                            tr
                                                td
                                                    a.button.button--green(href='#{reset_link}', target='_blank') Reset your password
                p
                    | For security, this request was received from a {{operating_system}} device using {{browser_name}}. If you did not request a password reset, please ignore this email or
                    a(href='{{support_url}}') contact support
                    |  if you have questions.
                p
                    | Thanks,
                    br
                    | The RetailerStock Team
                // Sub copy
                table.body-sub
                    tr
                        td
                            p.sub
                                | If you’re having trouble with the button above, copy and paste the URL below into your web browser.
                            p.sub {{action_url}}
